@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}


::-webkit-scrollbar{
    width: 0px;
  }
::-webkit-input-placeholder{
    color: orangered;
  }

input:focus, button:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

/* classes  */

.container-centered{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-Slab{ font-family: 'Roboto Slab', serif; }
.article-Roboto{ font-family: 'Roboto', sans-serif; }
.font-red{ color: #AA1423; }


/* header  */
.menubar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    padding: 1% 0 1% 0;
}
#logo-menubar{ margin: 1% 0 0 0; }

/* main  */

.banner{
    background: url(./Assets/background-home.jpg) fixed center;
    background-size: cover;
    height: 100vh;
}

.message-banner{
    color: white;
    align-items: center;
}

#message{text-align: center;}
#message > h1 { font-size: 2rem; }
#message > p {
    font-size: 1rem;
    margin-bottom: 5%;
}


.ranked{
    background-color: white;
    align-items: center; 
}

.container-ranked{
    margin: 5% 0 5% 0;
    width: 85%;
    text-align: center;
}
.container-ranked > h1{ margin-bottom: 1%; }

.ranked-list{
   
    padding: 5px;
}

::placeholder{
    color: white;
}

.submit-link{
    display: flex;
    flex-direction: row;
    padding: 3% 0 3% 0;
}
#url-input {
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid orangered;
    background-color: transparent;
    color: white;
}

#submit-button{
    background-color: orangered;
    border: 1px solid orangered;
    padding: 2%;
    color: white;
}
#submit-button:hover{
    background-color: transparent;

}

/* footer  */

.container-hits{
    background-color: rgba(119, 119, 119, 0.2);
    align-items: center;
    height: 60vh;
}

.main-hits{
    margin: 1% 0 1% 0;
    text-align: center;
    padding: 75px;
    font-size: 1rem;
}

#title-hits{
    margin-bottom: 25px;
    font-weight: lighter;
}

#number-hits{
    border: 1px solid rgba(220, 220, 220, 1);
    background-color: white;
    padding: 1%;
    font-size: 2rem;
}

.main-hits > p{
    margin-top: 15px;
    color: #777;
}

/* footer */

.container-footer{
    display: flex;
    flex-grow: 1;
    padding: 1% 0 1% 0;
}

#text-logo{
    margin-top: 5px;
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}


#social-medias{
    flex-grow: 1;
    text-align: center; 
}

#social-medias > img {
    margin-right: 10%;
}

